{{ if .Params.meta.description }}<meta name="description" content="{{ .Params.meta.description | safeHTML }}"/>{{ else if .Params.description }}<meta name="description" content="{{ .Params.description | safeHTML }}"/>{{ end }}

<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ .Permalink }}"/>
{{ if .Params.meta.og_title }}<meta property="og:title" content="{{ .Params.meta.og_title }}"/>{{ else }}<meta property="og:title" content="{{ .Title }}"/>{{ end }}
{{ if .Params.meta.og_image }}<meta property="og:image" content="{{ .Params.meta.og_image | absURL }}"/>{{ else if .Params.image }}<meta property="og:image" content="{{ .Params.image | absURL }}"/>{{ end }}
{{ if .Params.meta.og_description }}<meta property="og:description" content="{{ .Params.meta.og_description | safeHTML }}"/>{{ else if .Params.description }}<meta property="og:description" content="{{ .Params.description | safeHTML }}"/>{{ end }}

{{ if .Site.Params.seo.meta_twitter_card }}<meta name="twitter:card" content="{{ .Site.Params.seo.meta_twitter_card }}"/>{{ end }}
{{ if .Site.Params.seo.meta_twitter_site }}<meta name="twitter:site" content="{{ .Site.Params.seo.meta_twitter_site }}"/>{{ end }}
{{ if .Site.Params.seo.meta_twitter_creator }}<meta name="twitter:creator" content="{{ .Site.Params.seo.meta_twitter_creator }}"/>{{ end }}
