{{/* Preload critical fonts */}}
<link rel="preload" href="/fonts/fontawesome-free-5.15.2-web/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/fontawesome-free-5.15.2-web/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>

{{/* Inline critical CSS */}}
{{ $criticalCSS := resources.Get "scss/critical.scss" | resources.ExecuteAsTemplate "critical.scss" . | toCSS | minify }}
<style>{{ $criticalCSS.Content | safeCSS }}</style> 