.header {
  transition: all 200ms linear;
  font-family: var(--font-family-heading);
  background-color: var(--color-base-bg-1);
  padding: 0;
  height: var(--header-height);
  .header-main {
    .container {
      display: flex;
      align-items: center;
      min-height: var(--header-height);
      .logos {
        margin-right: auto;
      }
    }
  }
  .header-top {
    background-color: var(--color-base-bg-2);
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 42px;
  }
}
.header-transparent {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: transparent !important;
  box-shadow: none !important;
  color: white;
  a {
    color: white;
  }
  .logos {
    .logo-desktop {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-mobile {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-desktop-invert {
      display: none;
      @include media-breakpoint-up(sm) {
        display: flex;
      }
    }
    .logo-mobile-invert {
      display: flex;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }
  .hamburger {
    color: white;
  }
}
.header-scrolled {
  @include media-breakpoint-up(md) {
  transition: all 200ms linear;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }
}
.header-fixed {
  @include media-breakpoint-up(md) {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
}
.contact-header {
  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
      flex-wrap: wrap;
      flex-direction: row;
    }
    li {
      font-size: 14px;
      font-weight: 300;
      margin-left: 12px;
      strong {
        font-weight: 400;
      }
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}