.social {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-primary-bg-1);
    color: var(--color-primary-text-1);
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      background-color: var(--color-primary-bg-2);
    }
  }
}