.strip {
  background-repeat: no-repeat;
  transition: background-color 0.3s;
  padding-top: $strip-padding / 2;
  padding-bottom: $strip-padding / 2;
  @include media-breakpoint-up(md) {
    padding-top: $strip-padding;
    padding-bottom: $strip-padding;
  }
  .strip-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      color: var(--color-base-text-1);
      font-size: 26px;
      font-weight: 600;
    }
    p {
      color: var(--color-base-text-2);
      font-size: 0.9rem;
      font-family: var(--font-mono);
    }
    a {
      font-size: 0.8rem;
      color: var(--color-primary-offset);
      text-transform: uppercase;
      padding: 4px 8px;
      line-height: 1.2;
      font-family: var(--font-monospace);
      border: 1px solid var(--color-primary-offset);
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
